# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Flask instance folder
instance/*
!instance/
!instance/hotel.db

# Database
*.db
*.sqlite3
!instance/hotel.db

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Migration cache
migrations/__pycache__/